.containerCapaVideo {
    width:460px;
    min-width:460px;
    min-height: 260px;
}

.containerCapaVideo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.containerCapaVideo a{
    display: flex;
    width: 100%;
    height: 100%;
    
}

